<div class="card mb-5 mb-xl-10">
    <div class="card-body pt-9 pb-0">
        <div class="card-toolbar">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link btn btn-sm btn-color-muted btn-active btn-active-light-primary fw-bolder px-4 me-1"
                        [ngClass]="activeClass('tab_1')" (click)="setTab('tab_1')" data-bs-toggle="tab">
                        Movimientos recientes
                    </a>
                </li>
            </ul>
        </div>
        <div class="card-body py-3">
            <div class="tab-content">
                <div class="tab-pane fade" [ngClass]="activeClass('tab_1')" id="tab_1">
                    <div class="table-responsive" style="min-height: 550px;">
                        <table class="table align-middle table-row-dashed fs-6 gy-5 section-to-print">
                            <thead>
                                <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">
                                    <th class="min-w-70px text-start">ORDEN</th>
                                    <th class="min-w-50px text-center">FOLIO</th>
                                    <th class="min-w-100px text-start">Razón Social</th>
                                    <th class="min-w-70px text-end">TOTAL</th>
                                    <th class="min-w-70px text-center">CREADO</th>
                                    <th class="min-w-70px text-center">MODIFICADO</th>
                                    <th class="min-w-70px text-center">STATUS</th>
                                </tr>
                            </thead>
                            <tbody class="fw-semibold text-gray-600">
                                <tr *ngFor="let item of allHistorySale">
                                    <td class="text-start fw-bold">{{ item.type }}</td>
                                    <td class="text-center text-primary">{{ item.folio }}</td>
                                    <td class="text-start">{{ truncateText(getEnteName(item.enteid), 60) }}</td>
                                    <td class="text-end">{{ item.total | currency }}</td>
                                    <td class="text-center">{{ item.created_at | date:'short' }}</td>
                                    <td class="text-center">{{ item.modified_at | date:'short' }}</td>
                                    <td class="text-center">
                                        <div [ngClass]="{'badge-light-danger': item.status === 'inactivo', 'badge-light-success': item.status !== 'inactivo'}"
                                            class="badge">
                                            {{ item.status }}
                                        </div>
                                    </td>
                                </tr>
                                <tr *ngIf="allHistorySale.length == 0">
                                    <td colspan="6" class="text-center">No hay datos</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>