<div class="card card-xl-stretch mb-xl-8">
  <div class="card-header align-items-center border-0 mt-4">
    <h3 class="card-title align-items-start flex-column">
      <span class="fw-bolder text-gray-900 fs-2">{{ title }}</span>
    </h3>
  </div>
  <div class="card-body pt-3">
    <div class="table-responsive">
      <table id="my-table" class="table table-row-dashed align-middle gs-0 gy-4 my-0">
        <thead>
          <tr class="fs-7 fw-bold text-gray-500 border-bottom-0 text-uppercase">
            <th class="min-w-100px text-start">Razón social</th>
            <th class="text-center min-w-30px">Cantidad</th>
            <th class="text-center min-w-100px">Total</th>
          </tr>
        </thead>
        <tbody class="fw-semibold text-gray-600">
          <tr *ngFor="let item of items">
            <td class="text-primary text-hover-success">
              <strong>{{ item.sale.entename }}</strong>
            </td>
            <td class="ps-0 text-center text-gray-600 fw-bolder"> {{ item.quantity }} </td>
            <td class="text-center text-gray-800 fw-bold">{{ item.total | currency }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>