.results-container {
    max-height: 500px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.result-item {
    padding-top: 10px;
    border-bottom: 1px solid #e0e0e0;
}