<form class="form w-100" [formGroup]="forgotPasswordForm" novalidate="novalidate" id="kt_login_signin_form"
  (ngSubmit)="submit()">
  <div class="text-center mb-10">
    <h1 class="text-gray-900 fw-bolder mb-3">
      Olvido su contraseña ?
    </h1>
    <div class="text-gray-500 fw-semibold fs-6">
      Favor de ingresar su usuario
    </div>
  </div>
  <ng-container *ngIf="hasError">
    <div class="mb-10 bg-light-info p-8 rounded">
      <div class="text-info">Enviado. Por favor revise su correo electrónico.</div>
    </div>
  </ng-container>
  <ng-container *ngIf="hasState">
    <div class="mb-lg-15 alert alert-danger">
      <div class="alert-text font-weight-bold">
        <div class="text-info">No enviado. Por favor intente nuevamente.</div>
      </div>
    </div>
  </ng-container>
  <div class="fv-row mb-8">
    <label class="form-label fs-6 fw-bolder text-gray-900">Correo electrónico</label>
    <input #emailInput class="form-control bg-transparent text-center" type="text" name="email" formControlName="email"
      autocomplete="off" [ngClass]="{ 'is-valid': forgotPasswordForm.controls['email'].valid }" />
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'required',
        message: 'Username is required',
        control: forgotPasswordForm.controls['email']
      }">
    </ng-container>
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'email',
        message: 'Username is invalid',
        control: forgotPasswordForm.controls['email']
      }">
    </ng-container>
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'minLength',
        message: 'Username should have at least 3 symbols',
        control: forgotPasswordForm.controls['email']
      }">
    </ng-container>
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'maxLength',
        message: 'Username should have maximum 360 symbols',
        control: forgotPasswordForm.controls['email']
      }">
    </ng-container>
  </div>
  <div class="d-grid mb-10">
    <button type="submit" id="kt_sign_in_submit" class="btn btn-primary" [disabled]="forgotPasswordForm.invalid">
      <ng-container *ngIf="isLoading$ | async">
        <span class="indicator-progress" [style.display]="'block'">
          Trabajando...
          <span class="spinner-border spinner-border-sm align-middle ms-2">
          </span>
        </span>
      </ng-container>
      <ng-container *ngIf="(isLoading$ | async) === false">
        <span class="indicator-label">Solicitar</span>
      </ng-container>
    </button>
    <a routerLink="/auth/login" id="kt_login_password_reset_form_cancel_button" class="btn btn-light">
      Cancelar
    </a>
  </div>
</form>
<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <div class="fv-plugins-message-container">
      <span role="alert">
        {{ message }}
      </span>
    </div>
  </ng-container>
</ng-template>