<div class="container">
  <div class="row g-4">

    <div class="col-lg-6 col-md-6">
      <div class="card">
        <div class="card-body text-center">
          <h2 class="fs-2x fw-bold mb-4">Listado de No. Partes de P.O.</h2>
          <p class="text-gray-500 fs-4 fw-semibold py-3">Consulta y gestiona los números de partes vinculados a las
            órdenes de compra.</p>
          <a routerLink="/movimiento-de-partes" class="btn btn-primary fs-6 px-8 py-4">Ver Listado</a>
          <div class="mt-4">
            <i class="fas fa-list" style="font-size: 50px; color: #000080;"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-md-6">
      <div class="card">
        <div class="card-body text-center">
          <h2 class="fs-2x fw-bold mb-4">Recibos de Material en Bodega USA</h2>
          <p class="text-gray-500 fs-4 fw-semibold py-3">Gestiona los materiales recibidos en la bodega de USA.</p>
          <a routerLink="/recibos-bodega-usa" class="btn btn-success fs-6 px-8 py-4">Administrar Recibos</a>
          <div class="mt-4">
            <i class="fas fa-warehouse" style="font-size: 50px; color: #000080;"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-md-6">
      <div class="card">
        <div class="card-body text-center">
          <h2 class="fs-2x fw-bold mb-4">Recibos en Proceso de Importación</h2>
          <p class="text-gray-500 fs-4 fw-semibold py-3">Consulta los materiales en proceso de importación.</p>
          <a routerLink="/recibos-proceso-importacion" class="btn btn-warning fs-6 px-8 py-4">Ver Recibos</a>
          <div class="mt-4">
            <i class="fas fa-shipping-fast" style="font-size: 50px; color: #000080;"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-md-6">
      <div class="card">
        <div class="card-body text-center">
          <h2 class="fs-2x fw-bold mb-4">Recibos de Material en Bodega Tijuana</h2>
          <p class="text-gray-500 fs-4 fw-semibold py-3">Gestiona los materiales recibidos en la bodega de Tijuana.</p>
          <a routerLink="/recibos-bodega-tijuana" class="btn btn-info fs-6 px-8 py-4">Administrar Recibos</a>
          <div class="mt-4">
            <i class="fas fa-box-open" style="font-size: 50px; color: #000080;"></i>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>