<div class="card card-xl-stretch mb-xl-8">
  <div class="card-header align-items-center border-0 mt-4">
    <h3 class="card-title align-items-start flex-column">
      <span class="fs-2 fw-bolder text-gray-800 me-2">
        {{ item?.type | titlecase }} {{ item?.countrycode }} #{{ item?.id }}
        {{ getTotalFormatted(item?.total, item?.currency) }}
        {{ item?.currency }}
      </span>
      <span class="fs-5 fw-bolder text-gray-700 me-2">{{ item?.entename }} {{ item?.created_at }}</span>
    </h3>
    <div class="card-toolbar"></div>
  </div>

  <div class="card-body pt-8">
    <div class="table-responsive" style="max-height: 600px; overflow-y: auto;">
      <table id="my-table" class="table table-row-dashed align-middle gs-0 gy-4 my-0">
        <thead>
          <tr class="fs-7 fw-bold text-gray-500 border-bottom-0 text-uppercase">
            <th class="ps-0 text-start">Code</th>
            <th class="text-start">Descripción</th>
            <th class="text-center">Cantidad</th>
            <th class="text-end pe-0">Total</th>
          </tr>
        </thead>
        <tbody class="fw-semibold text-gray-600">
          <tr *ngFor="let item of listItems">
            <td class="text-primary"><strong>{{ item.code }}</strong></td>
            <td class="ps-0 text-gray-500 fw-bold text-hover-primary fs-6">
              {{ truncateText(item.description, 40) }}
            </td>
            <td class="text-center text-gray-500 fw-bold">{{ item.qty }}</td>
            <td class="text-end text-gray-500 fw-bold">
              {{ item.cost | currency }} {{ item.currency }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="card-footer text-center border-0">
    <a class="btn btn-light-primary fw-bolder" routerLink="{{ footerLink }}/{{ item?.id }}">
      Más info...
    </a>
  </div>
</div>