<div class="card mb-5 mb-xl-10">
    <div class="card-body pt-9 pb-0">
        <ng-container>

            <div class="d-flex flex-wrap flex-sm-nowrap mb-3">
                <div class="me-7 mb-4">
                    <div class="symbol symbol-100px symbol-lg-60px symbol-fixed position-relative">
                        <img [src]="baseUrl + heroe.image" alt="Hero Image" />
                        <div
                            class="position-absolute translate-middle bottom-0 start-100 mb-6 bg-success rounded-circle border border-4 border-white h-20px w-20px">
                        </div>
                    </div>
                </div>

                <div class="flex-grow-1">
                    <div class="d-flex justify-content-between align-items-start flex-wrap mb-2">
                        <div class="d-flex flex-column">
                            <div class="d-flex align-items-center mb-2">
                                <a class="text-gray-800 text-hover-primary fs-2 fw-bolder me-1">
                                    {{ heroe.fullname }}
                                </a>
                                <app-keenicon name="verify" class="fs-1 text-primary"></app-keenicon>
                                <a class="btn btn-sm btn-light-success fw-bolder ms-2 fs-8 py-1 px-3"
                                    data-bs-toggle="modal" data-bs-target="#kt_modal_upgrade_plan">
                                    {{ heroe.status }}
                                </a>
                            </div>

                            <div class="d-flex flex-wrap fw-bold fs-6 mb-4 pe-2">
                                <a class="d-flex align-items-center text-gray-500 text-hover-primary me-5 mb-2">
                                    <app-keenicon name="profile-circle" class="fs-4 me-1"></app-keenicon>
                                    {{ heroe.type }}
                                </a>
                                <a class="d-flex align-items-center text-gray-500 text-hover-primary me-5 mb-2">
                                    <app-keenicon name="geolocation" class="fs-4 me-1"></app-keenicon>
                                    {{ heroe.username }}
                                </a>
                                <a class="d-flex align-items-center text-gray-500 text-hover-primary mb-2">
                                    <app-keenicon name="sms" class="fs-4 me-1"></app-keenicon>
                                    {{ heroe.email }}
                                </a>
                            </div>
                        </div>

                        <div class="d-flex my-4">
                            <button class="btn btn-sm btn-light me-2" routerLink="configuracion-de-usuarios">
                                <span class="indicator-label">Listado</span>
                                <span class="indicator-progress">
                                    Please wait...
                                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                </span>
                            </button>
                            <button class="btn btn-sm btn-success me-2"
                                routerLink="/configuracion-de-usuarios/{{ heroe.id }}">
                                <span class="indicator-label">Revisar</span>
                                <span class="indicator-progress">
                                    Please wait...
                                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                </span>
                            </button>
                            <button class="btn btn-sm btn-warning me-2"
                                routerLink="/configuracion-de-usuarios/{{ heroe.id }}/edit">
                                <span class="indicator-label">Editar</span>
                                <span class="indicator-progress">
                                    Please wait...
                                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                </span>
                            </button>
                            <button routerLink="/configuracion-de-usuarios/add" type="button"
                                class="btn btn-sm btn-primary me-2">
                                <span class="svg-icon svg-icon-2">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <rect opacity="0.5" x="11.364" y="20.364" width="16" height="2" rx="1"
                                            transform="rotate(-90 11.364 20.364)" fill="currentColor" />
                                        <rect x="4.36396" y="11.364" width="16" height="2" rx="1" fill="currentColor" />
                                    </svg>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>