<div class="card card-flush">
    <div class="card-header align-items-center py-5 gap-2 gap-md-5">
        <div class="row w-100 d-flex align-items-center justify-content-between flex-wrap">
            <div class="d-flex w-100 align-items-center flex-wrap justify-content-between gap-2">

                <div class="d-flex gap-2">
                    <select [(ngModel)]="pageSize" class="form-select form-control-solid" style="max-width: 110px"
                        (ngModelChange)="loadData()">
                        <option *ngFor="let size of [5, 10, 20, 50, 100, 200, 500, 1000]" [value]="size">{{ size }}
                        </option>
                    </select>
                    <select [(ngModel)]="selectedStatus" class="form-select form-control-solid" style="max-width: 110px"
                        (ngModelChange)="loadData()">
                        <option value="">Status</option>
                        <option *ngFor="let status of salestatus" [value]="status.status">{{ status.status }}</option>
                    </select>
                    <select [(ngModel)]="selectedSeller" class="form-select form-control-solid" style="max-width: 110px"
                        (ngModelChange)="loadData()">
                        <option value="">Creador</option>
                        <option *ngFor="let item of allSellers" [value]="item.id">{{ item.fullname | titlecase }}
                        </option>
                    </select>
                    <select class="form-select form-control-solid" [(ngModel)]="selectedParentCategory"
                        style="max-width: 110px" (ngModelChange)="loadData()">
                        <option value="" disabled>Categoría</option>
                        <option value="">Todas</option>
                        <option *ngFor="let item of allCategory" [value]="item.id">{{ item.fullname }}
                        </option>
                    </select>
                    <select class="form-select form-control-solid" [(ngModel)]="selectedUnitkey"
                        style="max-width: 110px" (ngModelChange)="loadData()">
                        <option value="" disabled>Unidad de Medida</option>
                        <option value="">Todas</option>
                        <option *ngFor="let item of itemUnits" [value]="item">{{ item }}
                        </option>
                    </select>
                    <input type="date" [(ngModel)]="startDate" class="form-control form-control-solid"
                        style="max-width: 110px" (ngModelChange)="loadData()" />
                    <input type="date" [(ngModel)]="endDate" class="form-control form-control-solid"
                        style="max-width: 110px" (ngModelChange)="loadData()" />
                </div>

                <div class="d-flex gap-2">
                    <button type="button" class="btn btn-primary" (click)="toggleDateRange()">
                        {{ isToday ? 'Mes' : 'Hoy' }}
                    </button>
                    <button [disabled]="isLoading" class="btn btn-info me-2" (click)="toggleView()"
                        *ngIf="allData.length > 0">
                        <span *ngIf="!isGroupedView"> <i class="fa fa-table"></i> </span>
                        <span *ngIf="isGroupedView"> <i class="fa fa-list"></i> </span>
                    </button>
                    <button [disabled]="isLoading" class="btn btn-success" (click)="exportToPDF(true, 'l')">
                        <i class="fa fa-print"></i>
                    </button>
                    <button [disabled]="isLoading" class="btn btn-success" (click)="exportToPDF(false, 'l')">
                        <i class="fa fa-file-pdf"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body text-center pt-0" id="infoComponentContent">
        <div *ngIf="!isGroupedView" class="table-responsive" style="min-height: 550px;">
            <table id="my-table" class="table align-middle table-row-dashed fs-6 gy-5 table-striped">
                <thead>
                    <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">
                        <th class="min-w-50px" (click)="changeOrder('code')" style="cursor: pointer">
                            No. Parte
                        </th>
                        <th class="min-w-80px" (click)="changeOrder('description')" style="cursor: pointer">
                            Descripción
                        </th>
                        <th class="text-center" (click)="changeOrder('fullname')" style="cursor: pointer">
                            Cantidad (Atendidos)
                        </th>
                        <th class="text-center" (click)="changeOrder('fullname')" style="cursor: pointer">
                            Unidad de Medida
                        </th>
                        <th class="text-center" (click)="changeOrder('modified_at')" style="cursor: pointer">
                            Total (Entes)
                        </th>
                        <th class="text-center" (click)="changeOrder('qty')" style="cursor: pointer">
                            Tipo de Orden
                        </th>
                        <th class="text-center" (click)="changeOrder('price')" style="cursor: pointer">
                            Status
                        </th>
                        <th class="text-center" (click)="changeOrder('folio')" style="cursor: pointer">
                            Rango de Folios
                        </th>
                    </tr>
                </thead>
                <tbody class="fw-semibold text-gray-600">
                    <tr *ngFor="let item of allData">
                        <td class="text-start"> <strong class=" text-primary"> {{ item.sicode }}</strong> </td>
                        <td class="text-start"> {{ truncateText(item.sidescription, 40) }} </td>
                        <td class="text-center text-success fw-bold">{{ item.siqty }}</td>
                        <td class="text-center fw-bold">{{ item.unitkey }}</td>
                        <td class="text-center">{{ item.saleentes }}</td>
                        <td class="text-center"> <strong> {{ item.saletype }}</strong> </td>
                        <td class="text-center">
                            <div [ngClass]="getStatusClass(item.status)" class="badge"> {{ item.salestatus }} </div>
                        </td>
                        <td class="text-center">{{ item.salefolios }}</td>
                    </tr>
                    <tr *ngIf="allData.length == 0">
                        <td colspan="8" class="text-center">No hay datos</td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex flex-stack flex-wrap pt-10">
                <div class="fs-6 fw-bold text-gray-700">
                    Mostrando {{pageNumber * pageSize - pageSize + 1}} a
                    {{(pageNumber * pageSize) > totalRecords ? totalRecords : pageNumber * pageSize}}
                    de {{totalRecords}} registros
                </div>
                <ul class="pagination">
                    <li class="page-item" [ngClass]="{'disabled': pageNumber === 1}">
                        <a class="page-link cursor-pointer" (click)="pageChanged(1)">
                            <i class="fa fa-angle-double-left"></i>
                        </a>
                    </li>
                    <li class="page-item" [ngClass]="{'disabled': pageNumber === 1}">
                        <a class="page-link cursor-pointer" (click)="pageChanged(pageNumber - 1)">
                            <i class="fa fa-angle-left"></i>
                        </a>
                    </li>
                    <li *ngFor="let page of getPageRange()" class="page-item"
                        [ngClass]="{'active': pageNumber === page}">
                        <a class="page-link cursor-pointer" (click)="pageChanged(page)">
                            {{page}}
                        </a>
                    </li>
                    <li class="page-item" [ngClass]="{'disabled': pageNumber === totalPages}">
                        <a class="page-link cursor-pointer" (click)="pageChanged(pageNumber + 1)">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                    <li class="page-item" [ngClass]="{'disabled': pageNumber === totalPages}">
                        <a class="page-link cursor-pointer" (click)="pageChanged(totalPages)">
                            <i class="fa fa-angle-double-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div *ngIf="isGroupedView" class="table-responsive">
            <table class="table align-middle table-row-dashed fs-6 gy-5 table-striped">
                <thead>
                    <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">
                        <th class="min-w-100px">No. Parte</th>
                        <th class="min-w-100px">Descripción</th>
                        <th class="min-w-100px text-center">Cantidad Total</th>
                        <th class="min-w-100px text-center">Total Entes</th>
                        <th class="min-w-100px text-center">Tipo de Orden</th>
                        <th class="min-w-100px text-center">Desde</th>
                        <th class="min-w-100px text-center">Hasta</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let summary of summaryData">
                        <td class="text-start text-primary">
                            <strong>{{ summary.sicode }}</strong>
                        </td>
                        <td class="text-start">{{ truncateText(summary.sidescription, 60) }}</td>
                        <td class="text-center text-success fw-bold">{{ summary.totalQuantity }}</td>
                        <td class="text-center">{{ summary.saleentes }}</td>
                        <td class="text-center">
                            <strong> {{ summary.saletype }} </strong>
                        </td>
                        <td class="text-center">#{{ summary.minFolio }}</td>
                        <td class="text-center">#{{ summary.maxFolio }}</td>
                    </tr>
                </tbody>

            </table>
        </div>

    </div>
</div>