<div class="container">
  <div class="row g-4">


    <div class="col-lg-6 col-md-6">
      <div class="card">
        <div class="card-body text-center">
          <h2 class="fs-2x fw-bold mb-4">Administración de Cotizaciones</h2>
          <p class="text-gray-500 fs-4 fw-semibold py-3">Gestiona todas las cotizaciones existentes.</p>
          <a routerLink="/movimiento-de-cotizacion" class="btn btn-primary fs-6 px-8 py-4">Administrar Cotizaciones</a>
          &nbsp;
          <a routerLink="/movimiento-de-cotizacion/add" class="btn btn-primary fs-6 px-8 py-4">Crear Nueva
            Cotización</a>
          <div class="mt-4">
            <i class="fas fa-file-alt" style="font-size: 50px; color: #000080;"></i>
          </div>
        </div>
      </div>
    </div>


    <div class="col-lg-6 col-md-6">
      <div class="card">
        <div class="card-body text-center">
          <h2 class="fs-2x fw-bold mb-4">Administración de Compras</h2>
          <p class="text-gray-500 fs-4 fw-semibold py-3">Gestiona todas las compras realizadas.</p>
          <a routerLink="/movimiento-de-compra" class="btn btn-success fs-6 px-8 py-4">Administrar Compras</a> &nbsp;
          <a routerLink="/movimiento-de-compra/add" class="btn btn-success fs-6 px-8 py-4">Crear Nueva Compra</a>
          <div class="mt-4">
            <i class="fas fa-shopping-cart" style="font-size: 50px; color: #000080;"></i>
          </div>
        </div>
      </div>
    </div>


    <div class="col-lg-6 col-md-6">
      <div class="card">
        <div class="card-body text-center">
          <h2 class="fs-2x fw-bold mb-4">Administración de Remisiones</h2>
          <p class="text-gray-500 fs-4 fw-semibold py-3">Gestiona todas las remisiones existentes.</p>
          <a routerLink="/movimiento-de-remision" class="btn btn-warning fs-6 px-8 py-4">Administrar Remisiones</a>
          &nbsp;
          <a routerLink="/movimiento-de-remision/add" class="btn btn-warning fs-6 px-8 py-4">Crear Nueva Remisión</a>
          <div class="mt-4">
            <i class="fas fa-clipboard-check" style="font-size: 50px; color: #000080;"></i>
          </div>
        </div>
      </div>
    </div>


    <div class="col-lg-6 col-md-6">
      <div class="card">
        <div class="card-body text-center">
          <h2 class="fs-2x fw-bold mb-4">Recibo de Material</h2>
          <p class="text-gray-500 fs-4 fw-semibold py-3">Gestiona los detalles de los materiales recibidos por cada
            orden de compra.</p>
          <a routerLink="/movimiento-de-partes" class="btn btn-info fs-6 px-8 py-4">Administrar Recibos de Material</a>
          <div class="mt-4">
            <i class="fas fa-box" style="font-size: 50px; color: #000080;"></i>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>